
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>My Ticket Board</h1>
    <p>Extending gameplay...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

